version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "8080:8080"  # Map container port 5000 to local port 5000
    env_file:
      - ./frontend/.env  # Load environment variables from the .env file
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - parking-network

  backend:
    build:
      context: ./backend  # Build from the current directory (where Dockerfile is located)
      dockerfile: Dockerfile  # Optional, defaults to Dockerfile if not specified
    container_name: backend  # Name of the container
    ports:
      - "5000:5000"  # Map container port 5000 to local port 5000
    volumes:
      - ./backend/uploads:/app/uploads  # Mount the current directory to the container
    environment:
      - RAILWAY_RUN_UID=0  # Set the environment variable as per your Dockerfile
    restart: unless-stopped  # Automatically restart the container if it crashes or stops
    networks:
      - parking-network  # Optionally, add a custom network if needed

  # nginx:
  #   image: nginx:alpine
  #   container_name: nginx
  #   volumes:
  #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  #   ports:
  #     - "5173:80" # Expose port 80 on the host
  #   depends_on:
  #     - frontend
  #     - backend
  #   networks:
  #     - parking-network

networks:
  parking-network:
    driver: bridge
